
html, body{
    height: 100%;
    width: 100%;
}
.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header, footer {
    flex: 0 0 150px;
    background-color: lightgreen;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background-color: pink;
}

nav, aside {
    flex: 1;
    background-color: lightblue;
}

main {
    flex: 3;
    background-color: aqua;
}